# redirects from MT version to Jekyll version
Redirect 301 /2009/10/setting-up-zend-tool.html http://ctshryock.com/2009/10/12/setting-up-zend-tool.html 
Redirect 301 /2010/06/using-mgtwitterengine-on-the-desktop.html http://ctshryock.com/2010/06/03/using-mgtwitterengine-on-the-desktop.html
Redirect 301 /2009/08/zend-db-table-in-zend-framework-19.html http://ctshryock.com/2009/08/03/zend-db-table-in-zend-framework-19.html

Redirect 301 /2010/09/getting-acquainted-with-cinderella.html http://ctshryock.com/2010/09/18/getting-acquainted-with-cinderella.html
Redirect 301 /2009/10/update-to-ctshryockmgtwitterengine.html http://ctshryock.com/2009/10/15/update-to-ctshryockmgtwitterengine.html
Redirect 301 /2010/02/geeks-vs-nerds.html http://ctshryock.com/2010/02/16/geeks-vs-nerds.html
# /code -> projects
Redirect 301 /2010/02/cappuccino-web-framework.html http://ctshryock.com/2010/02/25/cappuccino-web-framework.html

Redirect 301 /2010/07/facesapp-update.html http://ctshryock.com/2010/07/26/facesapp-update.html

Redirect 301 /2010/09/ghost-gem.html http://ctshryock.com/2010/09/30/ghost-gem.html
Redirect 301 /2010/11/heros.html http://ctshryock.com/2010/11/19/heros.html

Redirect 301 /2009/07/paul-graham-and-makers-schedule.html http://ctshryock.com/2009/07/23/paul-graham-and-makers-schedule.html


# compress the files
AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css text/javascript application/x-javascript

# BEGIN EXPIRES
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 10 days"
    ExpiresByType text/css "access plus 1 week"
    ExpiresByType text/plain "access plus 1 month"
    ExpiresByType image/gif "access plus 1 month"
    ExpiresByType image/png "access plus 1 month"
    ExpiresByType image/jpeg "access plus 1 month"
    ExpiresByType application/x-javascript "access plus 1 month"
    ExpiresByType application/javascript "access plus 1 week"
    ExpiresByType application/x-icon "access plus 1 year"
</IfModule>
# END EXPIRES
# 
ErrorDocument 404 /404.html             

# 'web-errors' was a post for a while, catch any broken links
Redirect 301 /2010/12/22/web-errors.html  http://ctshryock.com/web-errors.html

# 	Resume and projects
Redirect 301 /web-errors  http://ctshryock.com/web-errors.html
Redirect 301 /resume  http://ctshryock.com/resume.html
Redirect 301 /projects  http://ctshryock.com/projects.html
Redirect 301 /web-errors.html  http://ctshryock.com/web-errors/index.html