/* @override http://localhost:4000/style.css */

html {
	width: 100%;
}

body {
  font-family: "museo-sans-1","museo-sans-2","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

dl, dd, dt, div, blockquote, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-bottom: 10px;
}

h2,h3 {
	margin-bottom: 5px;
}

blockquote {
	text-transform: none;
	font-style: italic;
	background: #eee;
	padding: 10px 0px;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

#content {
	width: 560px;
	float: left;
}

#sidebar {
	float:right;
	width: 200px;
}

#sidebar ul {
	padding-left: 20px;
}

.post-date,
.post-date-archive {
	color: #555;
}

.post-date {
	font-size: smaller;
}

.post-date-archive {
	float: right;
}

.external-link {
	float: right;
}

#footer {
	text-align: center;
	font-size: small;
	color: #ccc;
	border-top: 1px solid #ccc;
	clear: both;
}