/* @override http://localhost:4000/style.css */

body {
  font-family: "museo-sans-1","museo-sans-2","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

dl, dd, dt, div, blockquote, p {
	margin: 0;
	padding: 0;
}

p {
	margin-bottom: 10px;
}

h2,h3 {
	margin-bottom: 5px;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

#content {
	width: 560px;
	float: left;
}

#sidebar {
	float:right;
	width: 200px;
}

blockquote {
	text-transform: none;
	font-style: italic;
	background: #eee;
	padding: 10px 0px;
}

.post {
	clear: both;
	margin: 10px 0;
}

.post-image{
	float: left;
	margin-right: 10px;
}

.external-link {
	float: right;
}