html {
	width: 100%;
}

body {
  font-family: "museo-sans-1","museo-sans-2","Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

dl, dd, dt, div, blockquote, p {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	cursor: pointer;
}

p {
	margin-bottom: 10px;
}

h2,h3 {
	font-size: 1.4em;
	margin-bottom: 5px;
}

blockquote {
	text-transform: none;
	font-style: italic;
	background: #eee;
	padding: 10px 0px;
}

#wrapper {
	margin: 0 auto;
	width: 800px;
}

#content {
	width: 560px;
	float: left;
}

#post h2 {
	font-size: 1.2em;
}

#sidebar {
	float:right;
	width: 200px;
}

#sidebar ul {
	padding-left: 20px;
}

.post-date,
.post-date-archive {
	color: #555;
}

.post-date {
	font-size: smaller;
}

.post-date-archive {
	float: right;
}

.external-link {
	float: right;
}

#footer {
	text-align: center;
	font-size: small;
	color: #ccc;
	border-top: 1px solid #ccc;
	clear: both;
}

pre {
	overflow: auto;
}

.oreo-steps {
	clear: both;
	float: left;
	margin-bottom: 10px;
}

.oreo-steps dd.image {
	clear: both;
	margin-right: 10px;
	float: left;
	width: 150px;
}

.oreo-steps dd {
	width: 400px;
	float: left;
}

.oreo-steps dd a {
	display: block;
	width: 150px;
}

.oreo-steps dt {
	font-weight: bold;
	float: left;
}

dd ol {
	margin: 0;
	padding-left: 25px;
}