/* @override http://localhost:4000/static/style.css */

html {
	width: 100%;
	color: #333;
}

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #333;
	margin: 0;
	padding: 0;
	border-top: 3px solid red;
	text-align: justify;
}

strong {
  font-weight: bold;
}

#stylistic-bar-of-awesome {
	background: #333;
	height: 3px;
	margin-left: 45px;
	margin-top: -3px;
}

dl, dd, dt, div, blockquote, p {
	margin: 0;
	padding: 0;
}

ul {
	margin-top: 0px;
}

.clean-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.clean-list li {
	margin:0;
	margin-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}

ul li {
	padding:0;
	padding-bottom: 5px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	cursor: pointer;
}

p {
	margin-bottom: 10px;
}

h2,h3 {
	font-size: 1.4em;
}

#title {
	margin-bottom: 30px;
}

blockquote {
	background: #eee;
	padding: 10px;
	border-left: 3px solid #333;
	font-family: Georgia, "Times New Roman", Times, serif;
}

.highlight {
	border-left: 3px solid #333;
	font-family: "Courier New", Courier, mono;
}

dl {
	margin-bottom: 20px;
}

dl dt {
	font-weight: bold;
}


#wrapper {
	width: 960px;
	margin: 0 auto;
}

#content {
	width: 700px;
	float: left;
}

#post h2 {
	font-size: 1.2em;
}

#sidebar {
	float:right;
	width: 240px;
	margin: 0;
	margin-bottom: 15px;
	padding-top: 60px;
}

#sidebar ul {
	padding-left: 20px;
  line-height: 18px;
}

li.page-link {
  list-style-image: url('images/site/page-link.png');
}

.post-date,
.post-date-archive {
	color: #555;
}

.post-date {
	font-size: smaller;
}

.post-date-archive {
	float: right;
}

.external-link {
	float: right;
}

#footer {
	text-align: center;
	font-size: small;
	color: #333;
	border-top: 3px solid #333;
	clear: both;
	padding: 10px 0;
	width: 960px;
	margin: 0 auto;
}

pre {
	overflow: auto;
	background-color: #eee;
	padding: 5px 0 5px 10px;
}

code {
	background-color: #eee;	
}

dd ol {
	margin: 0;
	padding-left: 25px;
}

/* @group super awesome oreo-balls */

.clear {
  clear:both;
}

.oreo-steps {
	clear: both;
	float: left;
	margin-bottom: 10px;
}

.oreo-steps dd.image {
	clear: both;
	margin-right: 10px;
	float: left;
	width: 150px;
}

.oreo-steps dd {
	width: 400px;
	float: left;
}

.oreo-steps dd a {
	display: block;
	width: 150px;
}

.oreo-steps dt {
	font-weight: bold;
	float: left;
}

/* @end */

/* @group web-errors */

dd.error-date,
dd.error-note {
	font-size: smaller;
	font-style: italic;
	margin-bottom: 15px;
}

dd.error-image {
	border: 1px solid #ccc;
	width:540px;
}

dd.web-error-post-content {
  margin: 10px 0;
}
/* @end */

/* @group banner */

#banner {
  margin: 0 0 20px 0;
  width: 540px;
  height: 150px;
  background-image: url('images/site/pair_programming_trim.jpg');
  border: 1px solid #333;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* @end */

#page-title {
  float: left;
  width:700px;
  height: 60px;
}
