/* @override http://ctshryock.local/static/style.css */

/* @override http://ctshryock.local/static/style.css */

/* @override http://ctshryock.local/static/style.css */

body {
	margin: 0;
	padding: 0;
	text-align: justify;
	color: #d5d5d5;
	background-color: #424242;
	font: 1.1em "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
} 

#stylistic-bar-of-awesome {
	background-color: #3ca679;
	height: 3px;
}

.homepage {
	margin-top: 69px; /* Just for @Mr_Shizz */
}

/*dl, dd, dt, div, blockquote, p {
	margin: 0;
	padding: 0;
}*/

/*ul {
	margin-top: 0px;
	padding-left: 20px;
}*/

.clean-list {
	list-style-type: none;
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
}

.clean-list li {
	margin:0;
	margin-bottom: 5px;
	border-bottom: 1px solid #dddddd;
}

/*ul li {
	line-height: 24px;
}*/

a {
	color: #3ca679;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a img {
	cursor: pointer;
}

/*p {
	margin-bottom: 10px;
}*/

/*#title {
	margin-bottom: 30px;
}*/

blockquote {
	padding: 10px;
	border-left: 3px solid #3ca679;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-bottom: 10px;
}

.highlight {
	border-left: 3px solid #333;
	font-family: "Courier New", Courier, mono;
}

/*dl {
	margin-bottom: 20px;
}

dl dt {
	font-weight: bold;
}*/


/*#wrapper {
	width: 960px;
	margin: 0 auto;
}*/

/*#content {
	width: 560px;
	float: left;
	margin: 0;
	margin-bottom: 13px;
	padding: 0;
}*/

/*#sidebar {
	float:right;
	margin: 0;
	padding: 80px 0 0 20px;
}*/

li.page-link {
  list-style-image: url('images/site/page-link.png');
}


/*.post-date {
	font-size: smaller;
}*/

.post-date-archive {
	float: right;
}

/*.external-link {
	float: right;
}*/

/*#footer {
	text-align: center;
	font-size: small;
	border-top: 3px solid #333;
	clear: both;
	padding: 10px 0;
	margin: 0 auto;
}*/

pre {
	overflow: auto;
	padding: 5px 0 5px 10px;
	font-weight: normal;
	font-size: .9em;
	color: #424242;
}

/*dd ol {
	margin: 0;
	padding-left: 25px;
}*/

/* @group super awesome oreo-balls */

.clear {
  clear:both;
}

.oreo-steps {
	clear: both;
	float: left;
	margin-bottom: 10px;
}

.oreo-steps dd.image {
	clear: both;
	margin-right: 10px;
	float: left;
	width: 150px;
}

.oreo-steps dd {
	width: 500px;
	float: left;
}

.oreo-steps dd a {
	display: block;
	width: 150px;
}

.oreo-steps dt {
	font-weight: bold;
	float: left;
}

/* @end */

/* @group banner */

#banner {
  margin: 20px auto;
  margin-top: 0;
  width: 540px;
  height: 150px;
  background: url('images/site/pair_programming_trim.jpg') top center no-repeat;
  border: 1px solid #333;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

/* @end */

/*#page-title {
  float: left;
  width:700px;
  height: 60px;

  margin-bottom: 20px;
}*/

.source {
  text-align: right;
  padding-right: 13px;
  font-style:italic;
}

code {
	color: #3ca679;
	background-color: inherit;
	border: none;
	font-weight: bold;
	font-size: .8em;
}

.thumbnails li a img {
	height: 120px;
	overflow: hidden;
}