---
layout: home
---

  <div class="row">
    <div class="span13">
      <div class="span9">
        {% if page.title %} <h2> {{page.title}} </h2>{% endif %}
        {{ content }}
      </div>
      <div class="span2">
          <h2><a href="/">@ctshryock</a></h2> 
          <ul class="unstyled archive">
              <li><a href="/about.html" title="About">About</a></li>
              <li><a href="/archive.html" title="Archive">Archive</a><a class="feed" href="http://feeds.feedburner.com/ctshryock">&nbsp;</a></li>
              <li><a href="/projects.html" title="Projects">Projects</a></li>
              <li><a href="/web-errors.html">Web Errors</a><a class="feed" rel="alternate" href="http://feeds.feedburner.com/ctshryockWebErrors">&nbsp;</a></li>
              <li><a href="https://github.com/catsby" title="catsby on Github.com" target="_blank">Github<span class="external-link" title="external link">&#x279A;</span></a></li>
              <li><a href="https://twitter.com/ctshryock" title="ctshryock on Twitter.com" target="_blank">Twitter<span class="external-link" title="external link">&#x279A;</span></a></li>
          </ul>

          {% unless page.permalink == "about.html" %}
          <div class="about span4">
            <h2>About</h2>
            My name is Clint Shryock.  I develop things in Go and Ruby.  
            I live in central Missouri, where the weather is beautiful 4 months of the year.
          </div>
          {% endunless %}
+-----------------+<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(ﾉ^_^)ﾉ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp; ☜(ﾟヮﾟ☜)&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;౿(ఠ_ఠఎ)&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
|&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ಠ_ಠ&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;|<br />
x&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;x<br />
&nbsp;&nbsp;xxx&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xxx<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx&nbsp;&nbsp;&nbsp;&nbsp;xx<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;xx<br />

      </div>
    </div>
  </div>
