<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>@ctshryock
            {% if page.title %}
                : {{page.title}}
            {% endif %}
        </title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="author" content="Clint Shryock" />
        <link rel="stylesheet" href="http://static.ctshryock.com/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link rel="stylesheet" href="http://static.ctshryock.com/syntax.css" type="text/css" media="screen" title="no title" charset="utf-8">
        <link href="http://feeds.feedburner.com/ctshryock" rel="alternate" title="Clint Shryock - @ctshryock" type="application/atom+xml" />
        <!-- Typekit -->
        <script type="text/javascript" src="http://use.typekit.com/nuj8etq.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){console.log(e);}</script>   
                                                                                    
        <!-- FancyZoom from @cabel http://www.cabel.name/2008/02/fancyzoom-10.html -->
        <script src="/js-global/FancyZoom.js" type="text/javascript"></script>
        <script src="/js-global/FancyZoomHTML.js" type="text/javascript"></script>
    </head>
    <body onload="setupZoom()">
        <div id="wrapper">
            <div id="content">
                {{ content }}
            </div>
            <div id="sidebar">

                <h2>pages</h2>
                <ul>
                    <li><a href="/" title="About">About</a></li>
                {% for post in site.posts %}
                    {% if post.type == 'page' %}
                        <li><a href="/{{post.url}}" title="{{post.title}}">{{post.title}}</a></li>
                    {% endif %}
                {% endfor %}
                    <li><a href="http://github.com/ctshryock" title="ctshryock on Github.com" target="_blank">Github<span class="external-link" title="external link">&#x279A;</span></a></li>
                    <li><a href="http://twitter.com/ctshryock" title="ctshryock on Twitter.com" target="_blank">Twitter<span class="external-link" title="external link">&#x279A;</span></a></li>
                </ul>
                <h2>rambling</h2>
                
                {% for post in site.posts limit:5 %}
                    {% unless post.type == 'page' %}
                <ul>
                    <li>
                        <a href="{{post.url}}">{{post.title | truncatewords:6}}</a>
                        <br />
                        <span class="post-date">{{post.date | date_to_string}}</span>
                    </li>
                </ul>
                    {% endunless %}
                {% endfor %}
                
                <a href="/archive.html">Archive</a>
                <a href="http://feeds.feedburner.com/ctshryock" rel="alternate" type="application/rss+xml" class="external-link">
                    <img src="http://www.feedburner.com/fb/images/pub/feed-icon16x16.png" alt="" style="vertical-align:middle;border:0"/>
                </a>
            </div>
        </div>
        <div id="footer">
            info [at] ctshryock [dot] com<br />
            site powered by <a href="https://github.com/mojombo/jekyll">Jekyll</a>
        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-5272456-2']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>    
</html>
