---
layout: default
---

<dl>
    <dd class="error-image">    
    <a href="" 
      {% if page.alt %} 
       title="{{page.alt}}" 
      {% endif %} >
            <img class="img-polaroid" src="/static/images/web-errors/{{page.image}}.png" alt="{{alt}}" width="540" />  
        </a>
    </dd>
    <dd class="error-date">{{page.date | date_to_string}}</dd>
    {% if page.note %}
    <dd class="error-note"> 
        {{page.note}}
    </dd>
    {% endif %}

    <dd class="web-error-post-content">
      {{ content }}
    </dd>
</dl>
